doctype html
html(lang="en")
	head
		include includes/header
	body
		article
			.container
				.page-header
					h1 speech
				form(role="form")
					.form-group
						input#inpSpeakMe.form-control(required="requried" type="text" placeholder="Say something..." value="The rain in Spain, stays mainly in the plain.")
					.form-group
						button#btnSpeak.btn.btn-primary(type="button") Speak
				.panel.panel-default
					#wordList.panel-body
