doctype html
html(lang="en")
	head
		include includes/header
	body
		article
			.container
				.page-header
					h3 17speech
				form(role="form")
					.form-group
						label VoiceName
						select#voiceSel.form-control(name="voice")
					.form-group
						label rate
						input#rate.form-control(type="range" min="0.5" max="4.0" value="0.7" step="0.1")
					.form-group
						label Speech Text
						textarea#inpSpeakMe.form-control
							| My top priority is for people to understand that they have the power to change things themselves.
					.form-group
						label Voice Input
						input.form-control(x-webkit-speech type="text")
					.form-group
						button#btnSpeak.btn.btn-primary(type="button") Speak
				.panel.panel-default
					#wordList.panel-body
