include ../mixins/header_helper

meta(charset="utf-8")
title Speech

+stylesheet_link_tag("./css/bootstrap.css")
+stylesheet_link_tag("./css/font-awesome.css")
+stylesheet_link_tag("./css/custom.css")
+javascript_include_tag("./js/jquery-2.1.0.min.js")
+javascript_include_tag("./js/bootstrap.min.js")
+javascript_include_tag("./js/app.js")
